@media (max-width: 767.98px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .nav-item {
        display: inline-block;
        float: none;
    }
    .navbar-nav .dropdown-menu {
        text-align: left;
    }
}